<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">
    <a href="/dashboard" class="navbar-brand">beerMappSD</a>
    <button class="navbar-toggler" data-toggle="collapse" data target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>


    <!--Branding Area-->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/signout" class="nav-link">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>

</nav>


<section id="brewery-wishlist">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <h2>Try a New Brewery!</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Brewery</th>
              <th scope="col">Cheers!</th>
            </tr>
          </thead>
        {{#each brewery}} {{#unless visited}}
          <tbody>
            <tr>
              <td>{{this.brewery}}</td>
              <!--<td>{{this.url}}</td>-->
  
              <td> <button id="change-state" onclick="breweriesVisited({{id}})" data-id="{{id}}" data-state="{{visited}}"><img src="assets/img/cheers.png" class="img-fluid"></button></td>

            </tr>
          </tbody>
         {{/unless}} 
        {{/each}}
         </table>
      </div>

      <div class="col-lg-6">

        <h2>Your List of Good Times.</h2>
         <table class="table">
          <thead>
            <tr>
              <th scope="col">Brewery</th>
              
            </tr>
          </thead>
        {{#each brewery }} {{#if visited}}
       
          <tbody>
            <tr>
              <td>{{this.brewery}}</td>
              
            </tr>
          </tbody>
        
        {{/if}} {{/each}}
      </table>

      </div>

    </div>
  </div>
</section>